.ac_content{
    z-index: 1;
    background-color: #000000;
    position:fixed;
    height:90px;
    width:100%; /* РАЗМЕР ЗДЕСЬ !!! */
}
.ac_content h1{
    	background:transparent url(../images/bg_menu.png) repeat top left;
    display:block;
    float:left;
    color:#fff;
    height:50px;
    padding-left: 20px;
    font-size:36px;
    font-weight:bold;
    line-height:20px;
    margin-right:1px;
}
.ac_content h1 span{
    display:block;
    font-weight:normal;
    font-size:14px;
}
.ac_menu{
    background:transparent url(../images/bg_menu.png) repeat top left;
    float:right; /*было left*/
    position:relative;
    height:90px;
    width:0;
}
.menu_container  {
    font-size: 18px;
    padding-top: 35px;
    position: fixed;
    right: 20px;
    color:#fff;
    height: 90px;
    overflow: hidden;
}
.menu_items,.menu_row a {
    color: #ffffff;
    text-decoration: none;
    font-weight:bold;
    position: relative;
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
}
.menu_row a:hover {
    color: #ffffff;
    text-decoration: none;
}
.ac_menu > ul{
    float:right;
}
.ac_menu > ul > li{
    right: 0;
    position:absolute;
    height:0; /*здесь было 90*/
    overflow: hidden;
    min-width: 400px;
}
.ac_menu > ul > li a{
    margin-top:60px;
    opacity:0;
    display:block;
    height:90px;
    padding:0 10px;
    text-align:center;
    line-height:90px;
    outline:none;
    font-size:18px;
    font-weight:bold;
    text-shadow:1px 1px 1px #000;
}
.ac_subitem{
    position:relative;
    z-index:99;
    background:transparent url(../images/bg_menu.png) repeat top left;
}
.ac_subitem h2{
    font-size:22px;
    font-weight:bold;
    color:#fff;
    padding: 20px 0 0 40px;
    text-shadow:0 0 1px #000;
}
.ac_subitem ul{
    position: relative;
    padding:30px 40px;
}
.ac_subitem ul li{
    color:#fff;
    margin:10px 0;
}
.ac_subitem ul li:first-child{
    font-size:14px;
    text-transform:none;
    border-bottom:1px dotted #333;
    padding-bottom:15px;
    margin-bottom:15px;
}
span.ac_close{
    float:right;
    margin:10px;
    width:11px;
    height:12px;
    cursor:pointer;
    background:transparent url(../images/close.png) no-repeat top left;
    opacity:0.4;
}
span.ac_close:hover{
    opacity:1.0;
}